@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Nunito', sans-serif;
  background-color: white; }

header {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #FB6090; }
  @media (max-width: 414px) {
    header {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0;
      margin: 0; } }
  header .logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    font-size: 2em; }
    @media (max-width: 414px) {
      header .logo {
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 0;
        margin: 0; } }

nav {
  background-color: #FB6090; }
  nav ul {
    display: flex;
    flex-direction: none;
    text-align: none;
    justify-content: center;
    margin-bottom: 0rem;
    padding-left: 0rem; }
    @media (max-width: 500px) {
      nav ul {
        display: flex;
        flex-direction: column;
        text-align: none;
        padding: 0;
        margin: 0;
        align-items: center; } }
    nav ul li {
      padding: 10px;
      margin: 15px;
      list-style: none; }
      @media (max-width: 500px) {
        nav ul li {
          padding: 5px;
          margin: 2px; } }
      nav ul li a {
        color: #821D30;
        font-weight: bold;
        text-decoration: none; }
        @media (max-width: 500px) {
          nav ul li a {
            color: #821D30;
            font-weight: bold;
            text-decoration: none;
            font-size: 1, 30em; } }
        nav ul li a:hover {
          color: white; }

main {
  display: flex;
  flex-direction: column;
  text-align: center; }
  @media (max-width: 414px) {
    main {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0;
      margin: 0; } }
  main section .fondoColor {
    background-color: #FFC5D0; }
  main section h1 {
    padding: 30px;
    margin: 0;
    font-size: 3em; }
    @media (max-width: 414px) {
      main section h1 {
        font-size: 1em; } }
  main section h2,
  main section h3 {
    padding: 20px;
    margin: 15px;
    font-size: 2em; }
    @media (max-width: 414px) {
      main section h2,
      main section h3 {
        font-size: 1em; } }
  main section p {
    padding: 10px;
    margin: 0;
    font-size: 2em; }
    @media (max-width: 362px) {
      main section p {
        font-size: 20px; } }
  main section #titulo {
    padding: 15px;
    margin: 20px; }
  main section .cartas {
    background-color: #FFC5D0;
    display: flex;
    justify-content: center; }
    @media (max-width: 414px) {
      main section .cartas {
        display: flex;
        flex-direction: column;
        text-align: none;
        padding: 0;
        margin: 0;
        align-items: center; } }
    main section .cartas div {
      padding: 0;
      margin: 15px; }
      main section .cartas div p {
        font-size: 20px; }
  main section #hecho {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: #FB6090; }
  main section #informacion {
    padding: 0;
    margin: 0;
    background-color: #FFC5D0; }
    main section #informacion h2 {
      padding: 50px;
      margin: 0; }
    main section #informacion p {
      padding: 30px 80px;
      margin: 0;
      font-size: 1.5rem; }
  main section .carousel-caption h5 {
    background-color: white;
    font-size: 2rem;
    color: black; }
    @media (max-width: 1198px) {
      main section .carousel-caption h5 {
        font-size: 24px; } }
    @media (max-width: 802px) {
      main section .carousel-caption h5 {
        font-size: 20px; } }
  main section .carousel-caption p {
    background-color: #FB6090;
    color: white; }
    @media (max-width: 1198px) {
      main section .carousel-caption p {
        font-size: 24px; } }
    @media (max-width: 802px) {
      main section .carousel-caption p {
        font-size: 20px; } }
    @media (max-width: 362px) {
      main section .carousel-caption p {
        font-size: 20px; } }
  main section #presentacion {
    padding: 10px 12px;
    margin: 10px 10px; }
  main section .galeria {
    padding: 0;
    margin: 10px; }
    main section .galeria .three-columns {
      display: inline-block; }
      main section .galeria .three-columns img {
        height: 400px;
        width: 300px; }
        @media (max-width: 414px) {
          main section .galeria .three-columns img {
            height: 200px;
            width: 200px; } }
        @media (max-width: 362px) {
          main section .galeria .three-columns img {
            height: 200px;
            width: 200px; } }
  main section .btn {
    background-color: #821D30;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #821D30;
    color: white; }
    main section .btn:hover {
      background-color: #FB6090; }

form {
  background-color: #FFC5D0;
  border-radius: 10px;
  border: 1px solid #821D30;
  padding: 60px;
  margin: 40px; }
  form label {
    color: #821D30;
    font-family: "Nunito", sans-serif; }
  form .btn {
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #821D30; }
    form .btn:hover {
      background-color: #FB6090; }

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: #821D30; }
  @media (max-width: 414px) {
    footer {
      padding: 0;
      margin: 0; } }
  footer .containerFooter {
    padding: 10px;
    margin: 0; }
    footer .containerFooter p {
      margin-bottom: 0rem;
      padding: 10px;
      margin: 0;
      color: white;
      font-size: 1, 50em;
      font-weight: bold; }
      @media (max-width: 414px) {
        footer .containerFooter p {
          padding: 0;
          margin: 0; } }
    footer .containerFooter ul {
      display: flex;
      justify-content: center;
      margin-bottom: 0rem;
      padding-left: 0rem; }
      footer .containerFooter ul li {
        padding: 0;
        margin: 15px;
        list-style: none; }
        footer .containerFooter ul li img {
          padding: 10px;
          margin: 0;
          background-color: white;
          border-radius: 10px; }
    footer .containerFooter .letraFooter {
      color: black;
      font-weight: bold;
      text-decoration: none;
      padding: 6px;
      margin: 0; }
      footer .containerFooter .letraFooter:hover {
        color: white; }
