aside {
    @include flex ( flex , column , center );
    background-color: $secundario;
    border-radius: 10px;
    border: 1px solid $principal;
    margin: 15px;
    padding: 10px;

    @media (max-width:414px) {
        background-color: $principal;
        margin: 15px;
        padding: 10px;
    }
}
