@import "../base/base";
@import "../base/mixins";

footer {
    @include flex (flex, column, center);
    padding: 20px;
    background-color: $secundario;

    p {
        padding-bottom: 10px;
        color: $secundario;
        font-size: map-get($letters, $p);
        font-weight: bold;
    }

    img {
        background-color: $color;
        border-radius: 10px;
        padding: 10px;
    }

    .letraFooter {
        @include letraa ($secundario, bold, none);
        padding: 6px;

        &:hover {
            color: rgb(128, 128, 128);
        }
    }
}