form {
    background-color: $secundario;
    border-radius: 10px;
    border: 1px solid $principal;
    @include margen (60px, 40px);

    label {
        color: $principal;
        font-family: $font;
    }

    .btn {
        @include button ($efecto, 15px, bold, 10px 20px, 10px, 1px solid $principal);

        &:hover {
            background-color: $panel;
        }
    }
}