form {
    margin: 15px;
    padding: 10px;

    label {
        color: $principal;
        font-family: $font;
    }

    button.btn {
        @include button ( 15px , bold , 10px 20px , 10px , 1px solid $principal );

        &:hover {
            background-color: rgb(167, 161, 161);
        }
    }
}