@import "../base/base";

header {
    display: flex;
    justify-content: center;
    background-color: $principal;

    .logo {
        @include letraa ( $secundario , bold , none );
        padding: 20px;
        font-size: 2em;
    }
}