@import "../base/base";

main {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 2em;
        margin: 15px;
    }
     
    h2, h3 {
        font-size: 1.50em;
        margin-bottom: 15px;
    }
     
    p {
        font-size: 1.25em;
        padding: 10px;
    } 

    section {
        margin: 10px;
        padding: 10px;

        &#presentacion {
            padding: 10px 12px;
            margin: 10px 10px;
        }
    }

    .galeria {
        margin: 10px;

        .three-columns {
            display: inline-block;

            img {
                border-radius: 4px;
            }
        }
    }

    button {
        font-size: 15px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid $principal;

        &:hover {
            background-color: rgb(167, 161, 161);
        }
    }
}