@import "../base/base";
@import "../base/mixins";

nav {
    background-color: $principal;

    ul {
        @include flex ( flex , row , none );
        justify-content: space-evenly;

        li {
            list-style: none;
            margin: 15px;
            padding: 10px;

            a {
                @include letraa ( $secundario , bold , none );
                @extend div;

                &:hover {
                    color: rgb(128, 128, 128);
                }
            }
        }
    }

}