nav {
    background-color: $panel;

    ul {
        @include flex (flex, none, none);
        justify-content: center;
        margin-bottom: 0rem;
        padding-left: 0rem;

        @media (max-width: 500px) {
            @include flex (flex, column, none);
            @include margen (0, 0);
            align-items: center;

        }

        li {
            @include margen (10px, 15px);
            list-style: none;

            @media (max-width: 500px) {
                @include margen (5px, 2px);
            }

            a {
                @include letraa ($principal, bold, none);

                @media (max-width: 500px) {
                    @include letraa ($principal, bold, none);
                    font-size: 1, 30em;
                }

                &:hover {
                    color: $efecto;
                }
            }
        }
    }
}