@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

@import "base/base";
@import "partials/header";
@import "partials/navbar";
@import "partials/main";
@import "partials/form";
@import "partials/footer";