$font: 'Nunito',sans-serif;
$secundario: white;
$principal: black;
@mixin flex($dis, $direction, $text) {
    display: $dis;
    flex-direction: $direction;
    text-align: $text;
}

@mixin button($font-s, $font-w, $padd, $border-r, $border) {
    font-size: $font-s;
    font-weight: $font-w;
    padding: $padd;
    border-radius: $border-r;
    border: $border;
}

@mixin letraa($color, $fontw, $textd) {
    color: $color;
    font-weight: $fontw;
    text-decoration: $textd;
}